.vericaltext{
    width:1px;
    word-wrap: break-word;
 }
.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}

	.tTab {
		color:black;
		text-align:center;
		background:#ddd;
		font-weight:bold;
	}
	.dTab {
		color:black;
		text-align:right;
		background:#ddd;
		font-weight:bold;
	}

body{
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
	background-image: url(img/Topo_parte1.jpg);
}

#topo {background-image:url(../img/topo-fundo.jpg); height:120px; padding-top:10px;}
#topo-c {margin:0 auto; width:980px; height:auto;}
#topo-c h1,h2{ display:none;}

#redes {
	float:right;
	margin-top:-80px;
	margin-right:140px;
}

#logo {
	font-size:16px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#FBFBFB;
	margin-bottom:26px;
	margin-left:100px;
	margin-top:28px;
}
#logo1 {
	background-image:url(../img/logo.png);
	margin-top:-100px;
	margin-left:-110px;
	width:199px;
	height:114px;
	background-repeat: repeat;
}
#digitalizacao-imagem {width:412px; height:55px; background-image:url(../img/frase.png); float:right; position:relative; top:35px;}

#menu { background-image:url(../img/fundomenu.jpg); background-repeat:repeat-x; clear:both; height:45px; }
#menu-c {margin:0 auto; width:980px; height:45px;}

#menu-c p{ margin:0; padding:0;}

#menu-c ul{margin:0; padding:0; list-style:none; } 
#menu-c li{ /*display: none; */ float:left; margin: 4px 10px 10px; padding-top: 12px; padding-left: 5px; padding-right: 5px; font-size:14px; height: 29px; }
#menu-c li:hover { background-color:#AACE48; }
#menu-c li a{ text-decoration: none; color:#FFFFFF;}
#menu-c li:hover a{ text-decoration: none; color:#333333;}
#menu-c li.link_atual { background-color:#AACE48; text-decoration: none; color:#333333; }


/*a{color:#FFF; text-decoration:none; font-size:18px;}*/
/*a:hover{ color:#CCC; text-decoration:underline;}*/


#conteudo{ width:980px; height:400px; margin:0 auto; margin-top:20px; margin-bottom:10px;}

#rodape { background-image:url(../img/rodape-fundo.jpg); background-repeat: repeat-x; height:90px; clear:both; color:#fdfeff; font-size:10px; padding-top:12px;}
#rodape-conteudo { width:980px; height:auto; margin:0 auto;}

#rodape-conteudo a{ color:#fff; font-size:14px; text-decoration: none;}
#rodape-conteudo a:hover{text-decoration: underline;}


#rodape-a { width:530px; height:auto; float:left;}
#rodape-b {width: auto; height:auto; float: right; font-size:12px; margin-top:20px;}

td { padding-right:5px;}

/*conteúdo SERVICOS////*/ 

#conteudo-servicos { width:980px; height:auto; margin:0 auto; margin-top:20px; margin-bottom:20px;}

#conteudo-servicos h1 {font-size:13px; color:#2169b5; border-bottom: solid; border-bottom-width:thin;}

/*conteúdo CONTATO////*/ 

#contato-e a{color:#053350; font-size:13px; text-decoration: underline;}
#contato-e a:hover{color:#999;}

#contato-e {width:455px; height:auto; float:left;border-right: dotted; border-right-width: thin; border-color:#053350; margin-bottom:15px;}
#contato-d {width:500px; height:auto; float:right;  margin:0; padding:0;}

.campo { width:300px;}

 .Carta{
   font-family:Arial;  
   font-size:9pt; 
   color:darkblue; 
   font-style:italic; 
   text-align:justify; 
   margin-top: 0px;
   margin-left: 30px;	
   margin-bottom: 0px;
   margin-right: 30px;
   width: 87%;
   }
.transparente {
	   border: 1px;
	 }
.redanttransparente {
	   border: 1px;
}
.preambulo{
	   font-family:Arial;
	   color:#666666;
	   font-style:italic;
	   text-align:justify;
	   margin-top: 0px;
	   margin-left: 30px;
	   margin-bottom: 0px;
	   margin-right: 30px;
	   width: 87%;
	   }
	.Publicacao{
	   font-family:Arial;
	   font-style:italic;
	   margin-top: 2px;
	   color:#666666;
	   margin-left: 30px;
	   margin-bottom: 8px;
	   margin-right: 300px;
	   }
.recuado{
	font-family:Arial;
	font-size:9pt;
	text-align: justify;
        margin-top: 2px;
        margin-left: 38px;
        margin-bottom: 15px;
        margin-right: 50px;
       }

.recuadospan{
	font-family:Arial;
	font-size:9pt;
	text-align: justify;
        margin-top: 2px;
        margin-left: 38px;
        margin-bottom: 0px;
        margin-right: 50px;
       }	   
	   
.redant{
	font-family:Arial; 
	color:#808080;
	font-size:8pt;
	text-align: justify;
        margin-top: 2px;
        margin-left: 38px;
        margin-bottom: 15px;
        margin-right: 50px;
       }
.redanttd{
	font-family:Arial; 
	color:#808080;
	font-size:7ptpt;
	 }
.anexos    {
	    width: 80%;
	    background-color:#f2f2f2;
	    margin: 30px;
	    padding: 30px;
	    border: 1px solid #999999;
	    right: 100%;
	    float: right;
	    }
	.Assinatura{
	   font-family:Arial;
	   color:#666666;
	   font-style:italic;
	   text-align:right;
	   margin-top: 20px;
	   margin-left: 30px;
	   margin-bottom: 0px;
	   margin-right: 30px;
	   width: 87%;
	   }
   	.TitVioleta{
	   font-family:Arial;
	   font-weight:bold;
	   color:#000000;
	   text-align:center;
	   margin-top: 2px;
	   margin-left: 30px;
	   margin-bottom: 2px;
	   margin-right: 30px;
	   }
   	.TitPreto{
	   font-family:Arial;
	   font-weight:bold;
	   color:#000000;
	   text-align:center;
	   margin-top: 2px;
	   margin-left: 30px;
	   margin-bottom: 2px;
	   margin-right: 30px;
	   }
   	.TitAzul{
	   font-family:Arial;
	   font-weight:bold;
	   color:#0000CC;
	   text-align:center;
	   margin-top: 2px;
	   margin-left: 30px;
	   margin-bottom: 2px;
	   margin-right: 30px;
	   }
#topo-2{ text-align:center; background:#0E76C4; color:#FFFFFF; font-size:12px; padding: 2px; height: 50px;}	
#topo-2-part-1{ float:left; width: 350px; margin-top: 20px; margin-left: 5%;}  
#topo-2-part-2{
	
	float:left;
	font-size: 16px;
	font-weight: bold;
	background: #F6F6F6;
	color: #0D65A6;
	padding: 8px 10px;
	margin-left: 5%;
	margin-top: 18px;
	min-width: 600px;
	
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	
	border-top-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
}
#rodape-2{ text-align:center; background:#0E76C4; color:#FFFFFF; font-size:10px; padding: 2px; margin-top: 20px; }



.barra_tit_Dados2{ background:url("../img/barra_tit_Dados2.jpg") no-repeat; }
.barra_tit_Dados2_1{ background:url("../img/barra_tit_Dados2_1.jpg") no-repeat; }

